// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .date_button{
 	width:auto;
 	float:left;
 	line-height:auto;
 	padding-left:20px;
 }

.test{
	color:red;
}

#start_date{
	color:blue;
}


.hc{
	display:none;
}

#disease_chart{
	float:left;
}